<p class="pull-sm-right">
  {{#link-to "categories.edit" model class="btn btn-sm btn-primary"}}Edit{{/link-to}}
  <a class="btn btn-sm btn-danger" href="#" {{action "delete" model}}>Delete</a>
</p>

<h3>{{model.title}}</h3>

<div class="row">
  <div class="col-sm-6">
    <p>
      {{model.description}}
      {{model.completedAt}}
    </p>
  </div>
</div>
