defaults: &defaults
  untappd:
    client_id: token
    client_secret: token
    username: username

  strava:
    client_secret: token
    access_token: token

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
