<form>
  <h3>{{input class="form-control" placeholder="Title" value=model.title}}</h3>

  <p>
    {{textarea class="form-control" placeholder="Description" rows="3" value=model.description}}
  </p>

  <p>
    <button type="submit" class="btn btn-success" {{action "save"}}>Save</button>
    <button class="btn btn-default" {{action "cancel"}}>Cancel</button>
  </p>
</form>
